
* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    z-index: 10;
}

h1 {
    font-size: 55px;
    background-color: #a4ca68;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    /*    margin-right: 640px;*/
    padding-right: 50px;
    border-bottom-right-radius: 75px;
    float: left;
}



header ul {
    float: right;
    margin: 0;
    padding: 0;
    background-color: #a4ca68;

}

header ul li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 107px;
    padding-left: 109.8px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
}

header ul li a {
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: 0.8s;
}


a:hover {
    background-color: #1eae98;
    color: #c6ea8d;
    border-radius: 20px;
}

.main-visual {
    width: 100%;
    height: 700px;
    background: #fff url(room2.png) 0 0 no-repeat;
    background-size: cover;
    margin-bottom: 32px;
}

h2 {
    width: 300px;
    font-size: 35px;
    padding-left: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: -20px;
    margin-top: -31px;
    background-color: #2E7D32;
    position: absolute;
    z-index: 2;
}

p {
    width: 950px;
    margin: 0 auto;
    padding: 50px;
    font-size: 25px;
    color: aliceblue;
}

.p1 {

    padding-top: 100px;
    padding-bottom: 100px;
    background-color:#CEE2C5;
}

.p2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #c7dc68;
}

.p3 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #c9da9f;
}

.dot {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: 270px;
    margin-top: -50px;
    position: absolute;
    color: #00a9a7;
    background-color: currentColor;
    z-index: 2;
}

.dot2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: -90px;
    margin-top: -50px;
    position: absolute;
    color: #f7cb4a;
    background-color: currentColor;
    z-index: 2;
}

.dot3 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 300px;
    margin-top: -50px;
    position: absolute;
    color: #96d4d8;
    background-color: currentColor;
    z-index: 2;
}

.right-box {
    float: left;
    width: 288px;
    margin-left: 18px;
}

.left-box {
    float: right;
    width: 288px;
    margin-right: 18px;
}

.contents {
    height: 550px;
    background-color: #f0f8ff;
    padding-top: 50px;
    margin-top: 10px;
    text-align: center;
}


.swiper-container {
  width: 40%;
  padding-top: 50px;
  padding-bottom: 300px;
  margin-top: 100px;
}

.swiper-slide .imgBx {
  width: 100%;
  overflow: hidden;
}

.swiper-slide .imgBx img {
  width: 100%;
}

h3{
    color: floralwhite;
    text-shadow: 6px 5px 2px #363636;
}

.container{
    position: relative;
    width: 1000px;
    margin: 150px auto 0;
    height: 1410px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 440px;
    grid-gap: 40px;
}

.container .card{
    position: relative;
    background: #233342;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
}

.container .card .img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.container .card:hover .img-box{
    opacity: 0.5;
}
.container .card .content{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    padding: 20px;
    -hoff voff blur color;
    box-sizing: border-box;
    text-align: center;
    transition: 0.6s;
}
.container .card:hover .content{
    bottom: 0;
}
.container .card:nth-child(1) .content{
    background: linear-gradient(0deg,#d74177, transparent)
}
.container .card:nth-child(2) .content{
    background: linear-gradient(0deg,#1eae98, transparent)
}
.container .card:nth-child(3) .content{
    background: linear-gradient(0deg,#3a414c, transparent)
}
.container .card:nth-child(4) .content{
    background: linear-gradient(0deg,#443128, transparent)
}
.container .card:nth-child(5) .content{
    background: linear-gradient(0deg,#755445, transparent)
}
.container .card:nth-child(6) .content{
    background: linear-gradient(0deg,#c21833, transparent)
}
.container .card:nth-child(7) .content{
    background: linear-gradient(0deg,#771f1c, transparent)
}
